body {background-color:lightgrey;}
h1   {color:blue;}
p    {color:green;}
#p01 {color:red;}
p.error {color:yellow;}
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:darkgrey; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
table {
  border-spacing: 5px;
}
table#t01 {
  width: 100%; 
  background-color: #f1f1c1;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}
ul#menu {
    padding: 0;
}
ul#menu li {
    display: inline;
}
ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
ul#menu li a:hover {
    background-color: orange;
}
