body {background-color:lightgrey;}
h1   {color:blue;}
p    {color:green;}
#p01 {color:red;}
p.error {color:yellow;}
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:darkgrey; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
